<% if logged_in? %>
  <div class="col-lg-offset-2 col-lg-8">
      <div>
        <%= link_to 'プロファイルを表示', user_path(current_user), class: "btn btn-md btn-default"%>
        <%= link_to 'タスク新規の作成', new_task_path, class: "btn btn-md btn-primary" %> 
      </div>
      <div>
        <h3 class="text-center">タスク</h3>
        <%= render 'tasks/tasks', tasks: @tasks %>
      </div>

  </div>

<% else %>
  <div class="center jumpbotron">
    <div class="text-center">
      <h1>Welcome to the Tasklist</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
<% end %>
